<div class="specializari-container">
    <h1>Specializare</h1>
    <form [formGroup]="specializationForm" (submit)="updateSpecialization()" class="form-container">
      <mat-form-field appearance="fill">
        <mat-label>Nume specializare</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="specializationForm.get('name').hasError('required')">Câmp obligatoriu!</mat-error>
      </mat-form-field>
  
      <h2 class="example-margin">Se găsește la următoarele clinici:</h2>
      <div *ngFor="let clinic of clinicsList">
        <mat-checkbox [checked]="ClinicExists(clinic)">{{clinic.nume}}</mat-checkbox>
      </div>

      <button type="submit" mat-flat-button color="primary" [disabled]="!specializationForm.valid">Salvează</button>
      <button type="button" mat-flat-button color="accent" (click)="Back()">Revenire la specializări</button>
    </form>
  </div>
