<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-6">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="fa-solid fa-address-card"> Fa-ti acum un cont! </h4>
                        </div>
                        <div class="mb-3">
                            <label class="fa-solid fa-envelope">Nume</label>
                          <input type="name" class="form-control" name="name" [(ngModel)]="name">
                        </div>
                        <div class="mb-3">
                            <label class="fa-solid fa-envelope">Email</label>
                          <input type="email" class="form-control" name="email" [(ngModel)]="email">
                        </div>
                        <div class="mb-3">
                            <label class="fa-solid fa-lock">Password</label>
                          <input type="password" class="form-control" name="password" [(ngModel)]="password">
                        </div>
                        <button type="button" class="btn btn-info" (click)="register()">Register</button>
                      </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

