/* #welcome{
    text-align: center;
    font-size: 50px;
}

#programare{
    align-items: center;
} */

div{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h4{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dashboard-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../../../assets/photos/dashboard3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 75.9%;
}

.full{
    width: 500px;
    height: 400px;
}