
<div class="dashboard-container">
  <div id="name">
    Bine ai venit, {{currentUserName}}!
  </div>

  <div>
    <button type="button" mat-raised-button color="primary" (click)="OnVizualizareServicii()" >Servicii</button>
    <button type="button" mat-raised-button color="primary" (click)="OnVizualizareDoctori()" >Doctori stomatologi</button>
    <button type="button" mat-raised-button color="primary" (click)="OnProgramari()" >Programează-te</button>
    <button type="button" mat-raised-button color="primary" (click)="OnIstoricProgramari()">Istoric</button>
  </div>

  <div class="clinics">
    <div>
      <mat-list style="display: flex;">
        <mat-list-item *ngFor="let clinic of clinicsList" >
          <!-- <img matListItemAvatar src="" alt=""> -->
          <h2 matListItemTitle>{{clinic.nume}}</h2>
          <h3 matListItemLine>{{clinic.program}}</h3>
          <h3 matListItemLine>{{clinic.adresa}}</h3>
          <h3 matListItemLine>{{clinic.telefon}}</h3>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <div class="map">
    <google-map height="280px"
                width="800px"
                [options]="mapOptions">
      <map-marker *ngFor="let marker of markers"
                  [position]="marker.position"
                  [title]="marker.name"></map-marker>
    </google-map>
  </div>
</div>
  


