<div class="login-container">
  <h1>Intră în contul tău</h1>
  <div>
    <form [formGroup]="loginForm" (submit)="login()" class="form-container" id="login-form">

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
          <mat-error *ngIf="loginForm.get('email').hasError('required')">Câmp obligatoriu!</mat-error>
          <mat-error *ngIf="loginForm.get('email').hasError('email')">Introduceți un email valid!</mat-error>
        </mat-form-field>
      </div>
  
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Parolă</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'"/>
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.get('password').hasError('required')">Câmp obligatoriu!</mat-error>
        </mat-form-field>
      </div>

      <!-- <div>
        <mat-form-field appearance="fill">
          <mat-label>Reintroduceți parola</mat-label>
          <input matInput formControlName="passwordConfirm" [type]="hide ? 'password' : 'text'"/>
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.get('passwordConfirm').hasError('required')">Câmp obligatoriu!</mat-error>
        </mat-form-field>
      </div>
      <mat-error *ngIf="loginForm.hasError('mismatch')">Parolele nu sunt la fel!</mat-error> -->

      <div>
        <button type="submit" mat-flat-button color="primary" [disabled]="!loginForm.valid">Mă conectez</button>
      </div>

      <div>
        <a href="/forgot-password" style="text-decoration: none; color: black;"> Ai uitat parola? </a>
      </div>
    </form>
  </div>
</div>
