.login-container{
  display: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../../../assets/photos/login1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 81%;
}

