<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-6">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-4">
                            <h4>Conectează-te!</h4>
                        </div>
                        <div class="mb-3">
                          <label class="fa-solid fa-envelope">Email</label>
                          <input type="email" class="form-control" name="email" [(ngModel)]="email">
                        </div>
                        <!-- <div class="example-container">
                            <mat-form-field appearance="fill">
                              <mat-label>Enter your email</mat-label>
                              <input matInput placeholder="pat@example.com" [formControl]="email" required>
                              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                          </div> -->
                        <div class="mb-3">
                          <label class="fa-solid fa-lock">Password</label>
                          <input type="password" class="form-control" name="password" [(ngModel)]="password">
                        </div>
                        <!-- <div class="example-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Enter your password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                          </mat-form-field>
                        </div> -->
                        <button type="button" class="btn btn-success" (click)="login()">Login</button>
                        <div class="row mt-3">
                            <!-- <div class="col-md-6">
                                <a href="/register" style="text-decoration: none;"><span class="fa-solid fa-registered"> Register</span></a>
                            </div> -->
                            <div class="col-md-6">
                                <a href="/forgot-password" class="fa-solid fa-key" style="text-decoration: none;"> Forgot password? </a>
                            </div>
                        </div>
                      </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
