<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-6">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <p class="text-muted">Un link de resetare a parolei a fost trimis pe email. Vă rugăm să verificați inbox-ul!</p>
                            <meta http-equiv = "refresh" content = "4; /login" />
                        </div>
                      </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>


