<footer>
<p class="contact-element">DentConnect &copy; 2023</p>
    <div class="contact-container">
        <div class="contact-element">Contacteză-ne la: </div>
        <div class="contact-element">
          <mat-icon> email</mat-icon>dentconnect@gmail.com
        </div>
        <div class="contact-element">
          <mat-icon> phone</mat-icon>0725896321/0264258741
        </div>
        <div class="contact-element">
          <mat-icon>schedule</mat-icon>L-V 08:00 - 21:00
        </div>
    </div>
</footer>
