footer{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    position: fixed;

    .contact-container {
        flex-direction: row;
        display: flex;
    }

    .contact-element{
        align-items: center;
        display: flex;
        justify-content: center;
        padding-left: 10px;
        margin: 0px;
    }
}

