<div class="header">
    <div class="logo-group">
        <img src="assets/photos/logo.jpg" alt="Logo">
        <h1 class="name">
            DentConnect
            <div><h3 style="color: black;">Platforma zâmbetului tău</h3></div>
          </h1>
    </div>

    <ng-container *ngIf="!(isAuthenticated$ | async)">
        <div class="button-group">
            <button type="button" class="btn btn-primary" (click)="onLogin()">Conectare</button>
            <button type="button" class="btn btn-outline-primary" (click)="onRegister()">Îngregistrare</button>
        </div>
    </ng-container>

    <ng-container *ngIf="(isAuthenticated$ |async)">
      <div class="button-group">
          <button type="button" class="btn btn-warning text-center" (click)="onLogout()">Ieși din cont</button>
      </div>
  </ng-container>
</div>
