.show-clinici-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url('../../../../../../assets/photos/background5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 80.4%;
    padding: 20px;
  }

::ng-deep tr.mat-mdc-row:hover{
    background-color: rgb(138, 184, 253)!important;
}

table {
    width: 100%;
  }
  
  .search {
    font-size: 14px;
    width: 300px;
  }

  div{
    text-align: center;
    justify-content: space-between;
  }

::ng-deep .mdc-data-table__table{
    min-width: 0px !important;
  }
