<div class="show-clinici-container">
    <div>
        <button mat-raised-button color="primary" (click)="Back()" class="demo-button">Pagina principală</button>
    </div>
    <div class="demo-button-container">
    <button mat-raised-button (click)="AddClinic()" class="add-button">Adaugă o clinică</button>
    </div>
  
  <table mat-table [dataSource]="ClinicdataSource" class="mat-elevation-z8" id="clinicTable">
    
          <ng-container matColumnDef="Nr.crt">
            <th mat-header-cell *matHeaderCellDef> Nr.crt</th>
            <td mat-cell *matCellDef="let clinic; let i =index"> {{i+1}} </td>
          </ng-container>
    
    
          <ng-container matColumnDef="Nume">
            <th mat-header-cell *matHeaderCellDef> Nume clinică</th>
            <td mat-cell *matCellDef="let clinic"> {{clinic.nume}} </td>
          </ng-container>
      
          <ng-container matColumnDef="CUI">
            <th mat-header-cell *matHeaderCellDef> CUI</th>
            <td mat-cell *matCellDef="let clinic"> {{clinic.CUI}} </td>
          </ng-container>

          <ng-container matColumnDef="Adresa">
            <th mat-header-cell *matHeaderCellDef> Adresa</th>
            <td mat-cell *matCellDef="let clinic"> {{clinic.adresa}}  </td>
          </ng-container>

          <ng-container matColumnDef="Program">
            <th mat-header-cell *matHeaderCellDef> Program</th>
            <td mat-cell *matCellDef="let clinic"> {{clinic.program}}  </td>
          </ng-container>

          <ng-container matColumnDef="Telefon">
            <th mat-header-cell *matHeaderCellDef> Telefon</th>
            <td mat-cell *matCellDef="let clinic"> {{clinic.telefon}}  </td>
          </ng-container>

          <ng-container matColumnDef="Editează">
            <th mat-header-cell *matHeaderCellDef> Editează</th>
            <td mat-cell *matCellDef="let clinic"> 
                <button mat-raised-button color="primary" (click)="EditClinic(clinic)" class="demo-button">Editează</button>
            </td>
          </ng-container>

          <ng-container matColumnDef="Șterge">
            <th mat-header-cell *matHeaderCellDef> Șterge</th>
            <td mat-cell *matCellDef="let clinic">
                <button mat-raised-button color="warn" (click)="DeleteClinic(clinic)" class="demo-button">Șterge</button>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="ClinicsdisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: ClinicsdisplayedColumns;"></tr>
        
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Nu există această clinică!</td>
          </tr>
        </table>
</div>
