<div class="programari-adulti-container">
    <h1>Programare</h1>

    <div class="form-container1">
    <form [formGroup]="appointmentForm" (submit)="updateAppointment()" class="form-container" id="appointment-form">
      <mat-form-field appearance="fill">
        <mat-label>Nume pacient</mat-label>
        <input matInput formControlName="pacient_name" />
        <mat-error *ngIf="appointmentForm.get('pacient_name').hasError('required')">Câmp obligatoriu!</mat-error>
        <mat-error *ngIf="appointmentForm.get('pacient_name').hasError('invalidName')">Introduceți un nume valid!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tip pacient</mat-label>
        <input matInput formControlName="type"/>
        <mat-error *ngIf="appointmentForm.get('type').hasError('required')">Câmp obligatoriu!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="showAdultName()">
        <mat-label>Nume însoțitor</mat-label>
        <input matInput formControlName="adult_name">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="appointmentForm.get('email').hasError('required')">Câmp obligatoriu!</mat-error>
        <mat-error *ngIf="appointmentForm.get('email').hasError('email')">Introduceți un email valid!</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Telefon</mat-label>
        <input matInput formControlName="phone" />
        <mat-error *ngIf="appointmentForm.get('phone').hasError('required')">Câmp obligatoriu!</mat-error>
        <mat-error *ngIf="appointmentForm.get('phone').hasError('invalidPhone')">Introduceți un număr de telefon valid!</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Clinică</mat-label>
        <mat-select (selectionChange)="changeClinic($event.value)" formControlName="clinic">
            <mat-option *ngFor="let clinic of clinicsList" [value]="clinic.nume">
            {{ clinic.nume }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="appointmentForm.get('clinic').hasError('required')">Câmp obligatoriu!</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Specializare</mat-label>
        <mat-select (selectionChange)="changeSpecialization($event.value)" formControlName="specialization">
          <mat-option *ngFor="let specialization of specializationsList$.getValue()" [value]="specialization.nume">
            {{ specialization.nume }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="appointmentForm.get('specialization').hasError('required')">Câmp obligatoriu!</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Serviciu</mat-label>
        <mat-select (selectionChange)="changeService($event.value)" formControlName="service">
          <mat-option *ngFor="let service of servicesList$.getValue()" [value]="service.nume">
            {{ service.nume }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="appointmentForm.get('service').hasError('required')">Câmp obligatoriu!</mat-error>
      </mat-form-field>
  
      
      <mat-form-field appearance="fill">
        <mat-label>Doctor</mat-label>
        <mat-select (selectionChange)="changeDoctor($event.value)" formControlName="doctor">
          <mat-option *ngFor="let doctor of doctorsList$.getValue()" [value]="doctor.nume">
            {{ doctor.nume }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="appointmentForm.get('doctor').hasError('required')">Câmp obligatoriu!</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" [value]="appointmentForm.value.date"/>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="appointmentForm.get('date').hasError('required')">Câmp obligatoriu!</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Ora</mat-label>
        <mat-select formControlName="hour">
          <mat-option *ngFor="let hour of hoursList$.getValue()" [value]="hour">
            {{ hour }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="appointmentForm.get('hour').hasError('required')">Câmp obligatoriu!</mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Mesaj</mat-label>
        <textarea matInput formControlName="message"></textarea>
      </mat-form-field>

      <div class="buttons-group">
        <button type="button" mat-flat-button color="accent" (click)="Back()">Revenire la programări</button>
        <button type="submit" mat-flat-button color="primary">Salvează</button>
      </div>

    </form>
    </div>
  </div>