<div class="dashboard-container">
    <div>
        <h4 class="text-danger text-muted">Bine ai venit, {{currentAdminName}}!</h4>
      </div>
    
      <div class="buttons-group">
        <button type="button" mat-raised-button color="primary" (click)="OnShowClinics()" >Clinici</button>
        <button type="button" mat-raised-button color="primary" (click)="OnShowSpecializations()" >Specializari</button>
        <button type="button" mat-raised-button color="primary" (click)="OnShowServices()" >Servicii</button>
        <button type="button" mat-raised-button color="primary" (click)="OnShowDoctors()" >Doctori</button>
        <button type="button" mat-raised-button color="primary" (click)="OnShowUsers()" >Utilizatori</button>
        <button type="button" mat-raised-button color="primary" (click)="OnShowAppointments()" >Programări</button>
        <button type="button" mat-raised-button color="primary" (click)="OnShowReviews()" >Recenzii Doctori</button>
      </div>

</div>

