.dashboard-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../../../../assets/photos/background5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 80.4%;
}

.buttons-group {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin-top: 10px;
}

button{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h4{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



