.programari-copii-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow-y: scroll;
    height: 700px; */
    /* display: center;
    justify-content: center;
    align-items: center; */
    text-align: center;
    background-image: url('../../../../assets/photos/kid.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}