<!-- <h1>Programează-ți copilul!</h1>
<form (ngSubmit)="submitChildForm()" #programareForm="ngForm">
  <div class="form-group">
    <label for="nume" aria-required="true">Nume pacient:</label>
    <input type="text" id="nume" name="nume" class="form-control" required [(ngModel)]="programareCopil.numePacient">
  </div>
  <div class="form-group">
    <label for="nume" aria-required="true">Nume însoțitor:</label>
    <input type="text" id="nume" name="nume" class="form-control" required [(ngModel)]="programareCopil.numeInsotitor">
  </div>
  <div class="form-group">
    <label for="email" aria-required="true">Email:</label>
    <input type="email" id="email" name="email" class="form-control" required [(ngModel)]="programareCopil.email">
  </div>
  <div class="form-group">
    <label for="telefon" aria-required="true">Telefon:</label>
    <input type="tel" id="telefon" name="telefon" class="form-control" required [(ngModel)]="programareCopil.telefon">
  </div>
  <div>
    <label for="clinica">Clinică:</label>
  </div>
  <div>
    <select name="clinici" id="clinici" required>
        <option>Dental Care Sîrbu</option>
        <option>Stomestet</option>
        <option>Alerna Dental Studio</option>
      </select>
  </div>
  <div>
    <label for="specializare">Specializare:</label>
  </div>
  <div>
    <select name="specializari" id="specializari" required>
        <option>a</option>
        <option>a</option>
        <option>a</option>
      </select>
  </div>
  <div>
    <label for="serviciu">Serviciu:</label>
  </div>
  <div>
    <select name="servicii" id="servicii" required>
        <option>a</option>
        <option>a</option>
        <option>a</option>
      </select>
  </div>
  <div class="form-group">
    <label for="data" aria-required="true">Data și ora:</label>
    <input type="date" id="data" name="data" class="form-control" required [(ngModel)]="programareCopil.data_ora">
  </div>
  <div class="form-group">
    <label for="mesaj" aria-required="false">Mesaj:</label>
    <textarea id="mesaj" name="mesaj" class="form-control" [(ngModel)]="programareCopil.mesaj"></textarea>
  </div>
  <label>
    <input type="checkbox" name="terms" id="terms" required>
    Am citit și sunt de acord cu termenii și condițiile.
  </label>
  <div>
    <button type="button" class="btn btn-danger" >Resetează</button>
    <button type="button" class="btn btn-success" (click)="onSendChildAppointment()">Trimite</button>
    <button type="button" class="btn btn-info" (click)="Back()">Revenire pe pagina principală</button>
  </div>
</form>
 -->



<div class="programari-copii-container">
  <h1>Programare copil</h1>
  <form [formGroup]="appointmentForm" (submit)="onSendChildAppointment()" class="form-container" id="appointment-form">
    <mat-form-field appearance="fill">
      <mat-label>Nume pacient</mat-label>
      <input matInput formControlName="pacient_name" />
      <mat-error *ngIf="appointmentForm.get('pacient_name').hasError('required')">Câmp obligatoriu!</mat-error>
      <mat-error *ngIf="appointmentForm.get('pacient_name').hasError('invalidName')">Introduceți un nume valid!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
    <mat-label>Vârstă pacient</mat-label>
    <input matInput formControlName="pacient_age" />
    <mat-error *ngIf="appointmentForm.get('pacient_age').hasError('required')">Câmp obligatoriu!</mat-error>
    <!-- <mat-error *ngIf="appointmentForm.get('pacient_age').hasError('invalidName')">Introduceți un nume valid!</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nume însoțitor</mat-label>
      <input matInput formControlName="adult_name" />
      <mat-error *ngIf="appointmentForm.get('adult_name').hasError('required')">Câmp obligatoriu!</mat-error>
      <mat-error *ngIf="appointmentForm.get('adult_name').hasError('invalidName')">Introduceți un nume valid!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="appointmentForm.get('email').hasError('required')">Câmp obligatoriu!</mat-error>
      <mat-error *ngIf="appointmentForm.get('email').hasError('email')">Introduceți un email valid!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Telefon</mat-label>
      <input matInput formControlName="phone" />
      <mat-error *ngIf="appointmentForm.get('phone').hasError('required')">Câmp obligatoriu!</mat-error>
      <mat-error *ngIf="appointmentForm.get('phone').hasError('invalidPhone')">Introduceți un număr de telefon valid!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Clinică</mat-label>
      <mat-select (selectionChange)="changeClinic($event.value)" formControlName="clinic">
        <mat-option *ngFor="let clinic of clinicsList" [value]="clinic">
          {{ clinic.nume }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="appointmentForm.get('clinic').hasError('required')">Câmp obligatoriu!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Specializare</mat-label>
      <mat-select (selectionChange)="changeSpecialization($event.value)" formControlName="specialization">
        <mat-option *ngFor="let specialization of specializationsList$.getValue()" [value]="specialization">
          {{ specialization.nume }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="appointmentForm.get('specialization').hasError('required')">Câmp obligatoriu!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Serviciu</mat-label>
      <mat-select (selectionChange)="changeService($event.value)" formControlName="service">
        <mat-option *ngFor="let service of servicesList$.getValue()" [value]="service">
          {{ service.nume }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="appointmentForm.get('service').hasError('required')">Câmp obligatoriu!</mat-error>
    </mat-form-field>

    
    <mat-form-field appearance="fill">
      <mat-label>Doctor</mat-label>
      <mat-select (selectionChange)="changeDoctor($event.value)" formControlName="doctor">
        <mat-option *ngFor="let doctor of doctorsList$.getValue()" [value]="doctor">
          {{ doctor.nume }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="appointmentForm.get('doctor').hasError('required')">Câmp obligatoriu!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Data</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" [min]="today" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="appointmentForm.get('date').hasError('required')">Câmp obligatoriu!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ora</mat-label>
      <input matInput formControlName="hour" />
      <mat-error *ngIf="appointmentForm.get('hour').hasError('required')">Câmp obligatoriu!</mat-error>
      <mat-hint>HH:MM</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Ar trebui să știm ceva?</mat-label>
      <textarea matInput formControlName="message"></textarea>
    </mat-form-field>

    <mat-checkbox class="example-margin" formControlName="terms"> Am citit și sunt de acord cu <a href="https://drive.google.com/file/d/1PM3J80pSgcqfPzpGcPLNycTVFkR3P6lJ/view" target="_blank">termenii și condițiile.</a> </mat-checkbox>
  
    <button type="submit" mat-flat-button color="primary" [disabled]="!appointmentForm.valid">Trimite</button>
    <button type="button" mat-flat-button color="warn" (click)="onResetForm()">Reseteaza</button>
    <button type="button" mat-flat-button color="accent" (click)="Back()">Revenire pe pagina principală</button>
  </form>
</div>