<div class="istoric-container">
    <div>
      <!-- <button type="button" mat-raised-button color="primary" (click)="OnAdultAppointment()" >Programează-te</button>
      <button type="button" mat-raised-button color="primary" (click)="OnChildAppointment()" >Programează-ți copilul</button> -->
      <button type="button" mat-flat-button color="primary" (click)="Back()">Pagina principală</button>
    </div>

    
    <mat-form-field>
      <mat-label>Caută o programare</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    
    <!-- <div>
      <button type="button" mat-raised-button color="primary" (click)="ShowAdultAppointments()" >Programări adulți</button>
      <button type="button" mat-raised-button color="primary" (click)="ShowChildAppointments()" >Programări copii</button>
      (click)="ShowAdultAppointments()"
    </div> -->
    <mat-tab-group>
      <mat-tab label="Programări adulți">
        <table mat-table [dataSource]="AdultdataSource" class="mat-elevation-z8" id="adultTable">
    
          <ng-container matColumnDef="Nr.crt">
            <th mat-header-cell *matHeaderCellDef> Nr.crt</th>
            <td mat-cell *matCellDef="let appointment; let i =index"> {{i+1}} </td>
          </ng-container>
    
    
          <ng-container matColumnDef="Clinica">
            <th mat-header-cell *matHeaderCellDef> Clinica</th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.clinica}} </td>
          </ng-container>
      
          <ng-container matColumnDef="Pacient">
            <th mat-header-cell *matHeaderCellDef> Pacient</th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.nume_pacient}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Data">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.data}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Ora">
            <th mat-header-cell *matHeaderCellDef> Ora </th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.ora}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Specializare">
            <th mat-header-cell *matHeaderCellDef> Specializare </th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.specializare}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Serviciu">
            <th mat-header-cell *matHeaderCellDef> Serviciu</th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.serviciu}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Doctor">
            <th mat-header-cell *matHeaderCellDef> Doctor</th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.doctor}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="AdultdisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: AdultdisplayedColumns;"></tr>
        
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Nu există această programare!</td>
          </tr>
        </table>

      </mat-tab>
      <mat-tab label="Programări copii ">
        <table mat-table [dataSource]="ChilddataSource" class="mat-elevation-z8" id="childTable">
    
          <ng-container matColumnDef="Nr.crt">
            <th mat-header-cell *matHeaderCellDef> Nr.crt</th>
            <td mat-cell *matCellDef="let appointment; let i =index"> {{i+1}} </td>
          </ng-container>
    
    
          <ng-container matColumnDef="Clinica">
            <th mat-header-cell *matHeaderCellDef> Clinica</th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.clinica}} </td>
          </ng-container>
      
          <ng-container matColumnDef="Pacient">
            <th mat-header-cell *matHeaderCellDef> Pacient</th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.nume_pacient}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Vârstă pacient">
            <th mat-header-cell *matHeaderCellDef> Vârstă pacient</th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.varsta_pacient}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Însoțitor">
            <th mat-header-cell *matHeaderCellDef> Însoțitor</th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.nume_insotitor}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Data">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.data}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Ora">
            <th mat-header-cell *matHeaderCellDef> Ora </th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.ora}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Specializare">
            <th mat-header-cell *matHeaderCellDef> Specializare </th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.specializare}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Serviciu">
            <th mat-header-cell *matHeaderCellDef> Serviciu</th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.serviciu}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Doctor">
            <th mat-header-cell *matHeaderCellDef> Doctor</th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.doctor}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="ChilddisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: ChilddisplayedColumns;"></tr>
        
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Nu există această programare!</td>
          </tr>
        </table>
      </mat-tab>
    </mat-tab-group>

  </div>
  