<div class="show-programari-container">
    <div>
        <button mat-raised-button color="primary" (click)="Back()" class="demo-button">Pagina principală</button>
    </div>
    <div class="demo-button-container">
    <button mat-raised-button (click)="AddAppointment()" class="add-button">Adaugă o programare</button>

    <!-- <button
        mat-raised-button
        [disabled]="!dataSource.length"
        (click)="removeData()"
        class="demo-button">
      Remove data
    </button> -->
  </div>
  
  <table mat-table [dataSource]="AdultdataSource" class="mat-elevation-z8" id="adultTable">
    
          <ng-container matColumnDef="Nr.crt">
            <th mat-header-cell *matHeaderCellDef> Nr.crt</th>
            <td mat-cell *matCellDef="let appointment; let i =index"> {{i+1}} </td>
          </ng-container>
    
    
          <ng-container matColumnDef="Clinica">
            <th mat-header-cell *matHeaderCellDef> Clinica</th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.clinica}} </td>
          </ng-container>
      
          <ng-container matColumnDef="Pacient">
            <th mat-header-cell *matHeaderCellDef> Pacient</th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.nume_pacient}} </td>
          </ng-container>

          <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef> Email</th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.email}} </td>
          </ng-container>

          <ng-container matColumnDef="Telefon">
            <th mat-header-cell *matHeaderCellDef> Telefon</th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.telefon}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Data">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.data}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Ora">
            <th mat-header-cell *matHeaderCellDef> Ora </th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.ora}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Specializare">
            <th mat-header-cell *matHeaderCellDef> Specializare </th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.specializare}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Serviciu">
            <th mat-header-cell *matHeaderCellDef> Serviciu</th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.serviciu}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Doctor">
            <th mat-header-cell *matHeaderCellDef> Doctor</th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.doctor}} </td>
          </ng-container>

          <ng-container matColumnDef="Mesaj">
            <th mat-header-cell *matHeaderCellDef> Mesaj</th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.mesaj}} </td>
          </ng-container>

          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status</th>
            <td mat-cell *matCellDef="let appointment" id="status"> {{appointment.status}} </td>
          </ng-container>

          <ng-container matColumnDef="Editează">
            <th mat-header-cell *matHeaderCellDef> Editează</th>
            <td mat-cell *matCellDef="let appointment"> 
                <button mat-raised-button color="primary" (click)="EditAppointment()" class="demo-button">Editează</button>
            </td>
          </ng-container>

          <ng-container matColumnDef="Șterge">
            <th mat-header-cell *matHeaderCellDef> Șterge</th>
            <td mat-cell *matCellDef="let appointment">
                <button mat-raised-button color="warn" (click)="DeleteAppointment()" class="demo-button">Șterge</button>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="AdultdisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: AdultdisplayedColumns;"></tr>
        
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Nu există această programare!</td>
          </tr>
        </table>
</div>
