<div class="users-container">
    <h1>Utilizator</h1>
    <form [formGroup]="userForm" (submit)="onSendUser()" class="form-container" id="user-form">
      <mat-form-field appearance="fill">
        <mat-label>Nume clinică</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="userForm.get('name').hasError('required')">Câmp obligatoriu!</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="userForm.get('email').hasError('required')">Câmp obligatoriu!</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Parolă</mat-label>
        <input matInput formControlName="password" />
        <mat-error *ngIf="userForm.get('password').hasError('required')">Câmp obligatoriu!</mat-error>
      </mat-form-field>

      <!-- <mat-form-field appearance="fill">
        <mat-label>Rol</mat-label>
        <input matInput formControlName="role" />
        <mat-error *ngIf="userForm.get('role').hasError('required')">Câmp obligatoriu!</mat-error>
      </mat-form-field> -->

      <button type="submit" mat-flat-button color="primary" [disabled]="!userForm.valid">Salvează</button>
      <button type="button" mat-flat-button color="accent" (click)="Back()">Revenire la utilizatori</button>
    </form>
  </div>