.forgot-password-container{
    display: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../../../assets/photos/background2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 75.9%;
    text-align: center;
  }