<div class="forgot-password-container">
    <h1>Ai uitat parola?</h1>
    <div>
      <form [formGroup]="forgotpasswordForm" (submit)="forgotPassword()" class="form-container" id="forgot-password-form">
  
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
            <mat-error *ngIf="forgotpasswordForm.get('email').hasError('required')">Câmp obligatoriu!</mat-error>
            <mat-error *ngIf="forgotpasswordForm.get('email').hasError('email')">Introduceți un email valid!</mat-error>
          </mat-form-field>
        </div>
        <div>
            <button type="submit" mat-flat-button color="primary" [disabled]="!forgotpasswordForm.valid">Trimite link de resetare</button>
        </div>
        <div>
            <button type="button" mat-flat-button color="secondary" (click)="back()" >Inapoi la conectare</button>

        </div>
        </form>
    </div>
</div>


