<!-- <div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-6">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Ai uitat parola?</h4>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email</label>
                          <input type="email" class="form-control" name="email" [(ngModel)]="email">
                        </div>
                        <button type="button" class="btn btn-info" (click)="forgotPassword()">Trimite link de resetare</button>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <a href="/login" style="text-decoration: none;">Back to<span class="text-danger"> Login</span></a>
                            </div>
                        </div>
                      </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

 -->

 <div class="forgot-password-container">
    <h1>Ai uitat parola?</h1>
    <div>
      <form [formGroup]="forgotpasswordForm" (submit)="forgotPassword()" class="form-container" id="forgot-password-form">
  
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
            <mat-error *ngIf="forgotpasswordForm.get('email').hasError('required')">Câmp obligatoriu!</mat-error>
            <mat-error *ngIf="forgotpasswordForm.get('email').hasError('email')">Introduceți un email valid!</mat-error>
          </mat-form-field>
        </div>
        <div>
            <button type="submit" mat-flat-button color="primary" [disabled]="!forgotpasswordForm.valid">Trimite link de resetare</button>
        </div>
        <div>
            <button type="button" mat-flat-button color="secondary" (click)="back()" >Inapoi la conectare</button>

        </div>
        </form>
    </div>
</div>


