/* You can add global styles to this file, and also import other style files */



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  .name {
    font-size: 40px;
    font-weight: bold;
    color: #7CB9E8;
    display: inline-grid;
  }
  img {
    width: 100px;
    height: 100px;
}
  
  .auth {
    font-size: 16px;
  }

  .container {
    overflow: hidden;
    position: relative;
}

  footer {
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
  }

  .table-container{
    height: 600px;
    overflow: auto;
    width: 100%;
  }

    .button-container{
    display: flex;
    flex-direction: row;
    margin: 10px;

    .add-button{
      display: flex;
      text-align: right;
      margin-left: 10px;
    }
  }
  

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
