<h1>Ne pasă de zâmbetul tău și al celor dragi ție!</h1>
<div class="container">
  <div class="left-col">
    <h2>Cine suntem noi?</h2>
    <p>DentConnect este o pagină care îți oferă posibilitatea de a alege dintre mai mulți profesioniști stomatologi, în funcție de nevoile, bugetul și preferințele tale. </p>
    <p>O platformă care înglobează servicii stomatologice la nivelul orașului Cluj-Napoca.</p>
    <p>Ce mai aștepți? </p>
    <p>Intră în comunitatea noastră pentru a vedea ofertele partenerilor!</p>
  </div>
</div>
