h1{
    color: white;
    font-size: 40px;
    margin: 130px 10px 100px;
    line-height: 44px;
}

.left-col {
    background-image: url('../../assets/photos/home1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 80.4%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
  }

  .description{
    font-size: 18px;
    width: 800px;
    line-height: 22px;
    margin-left: 10px;
  }

  h2{
    margin-left: 10px;
    margin-top: 80px;
  }
