<div class="left-col">
  <h2>Ne pasă de zâmabetul tău și al celor dragi ție!</h2>
  <div class="container">
    <h2>Cine suntem noi?</h2>
    <p>DentConnect este o pagină care îți oferă posibilitatea de a alege dintre mai mulți profesioniști stomatologi, în funcție de nevoile, bugetul și preferințele tale. </p>
    <p>O platformă care înglobează servicii stomatologice la nivelul orașului Cluj-Napoca.</p>
    <p>Misiunea noastră este de a crea multe zâmbete perfect sănătoase și frumoase.
      Reușim asta oferind tratamente complexe multidisciplinare la cea mai bună calitate!
    </p>
    <p>Intră în comunitatea noastră pentru a vedea ofertele ce ți le-am pregătit!</p>
  </div>
</div>

