h1{
    color: white;
    font-family: revert;
}

.left-col {
    background-image: url('../../assets/photos/home1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 75.9%;
    color: aliceblue;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
  }
