<div class="left-col">
  <h1>Ne pasă de zâmbetul tău și al celor dragi ție!</h1>
    <h2>Cine suntem noi?</h2>
    <p class="description">DentConnect este o platformă care îți oferă posibilitatea de a alege dintre mai mulți profesioniști stomatologi, în funcție de bugetul și preferințele tale. </p>
    <p class="description">O platformă care înglobează servicii stomatologice la nivelul orașului Cluj-Napoca.</p>
    <p class="description">Misiunea noastră este de a crea multe zâmbete sănătoase și frumoase.
      Reușim asta oferind tratamente complexe multidisciplinare la cea mai bună calitate!
    </p>
    <p class="description">Intră în comunitatea noastră pentru a vedea serviciile ce ți le-am pregătit!</p>
</div>
